h0 {
    display: block;
    font-size: 2em;
    margin-top: 0em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    color: rgba(126, 65, 22, 0.711);
    padding-top: 0%;
}

#header h1 {
    font-family: "Times New Roman", Times, serif;
    display: block;
    font-size: 4em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;

}

#question{
    display: block;
    color: white;
    text-align: center;
}



#clicks{
    padding-left: 0%;
}

#clicks1{
    padding-left: 0%;
}

#clicks2{
    padding-left: 0%;
}

.votes{
    color: #eee;
    padding-left: 1em;
    padding-right: .1em;
    margin-right: 1%;
}

.flex-box-2 {
    display:flex;
    justify-content:center;
  }


    .custom-banner-image {

        background-repeat: no-repeat;
        
        background-size: cover;
        
        background-position: 50% 50%;
        
        position: relative;
        
        width: 100%;
        
        height: auto;
        
        display: block;
        
        }
        
        .custom-banner-image .banner-overlay {
        
        position: absolute;
        
        top: 0;
        
        left: 0;
        
        width: 100%;
        
        height: 100%;
        
        background-color: rgba(0, 0, 0, 0.5);
        
        }
        
        .custom-banner-image .banner-text {
        
        padding: 50px 0;
        
        color: #eee;
        
        text-align: center;
        
        position: relative;
        
        z-index: 1;
        
        width: 100%;
        
        font-family: sans-serif;
        
        }
        
        .custom-banner-image .banner-text{
        
        color: #fff;
        
        }
        
        @media (max-width: 767px){
        
        .header-container.container-fluid .row-fluid .page-center {
        
        padding: 0;
        
        }
        
        .custom-banner-image .banner-text {
        
        padding: 50px 15px;
        
        }
        
        }